<!DOCTYPE html>
<html lang="en">

<head>
    <script src="./web3.min.js"></script>
</head>

<body>
    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="/">PSU_COIN</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link" href="#">Features</a>
                <a class="nav-item nav-link" href="#">Pricing</a>
                <a class="nav-item nav-link disabled" href="#">Disabled</a>
            </div>
        </div>
    </nav>

    <form action='/showtime' class="col-6" method="GET">
    </form>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td,
        th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
    <table>
        <div class="jumbotron">
            <h2>Profile</h2>
            <button type="submit" class="btn btn-danger">BACK</button>
            <table>
                <thead>
                    <tr>
                        <th>Student_id</th>
                        <th>Wallet_address</th>
                        <th>Balance</th>
                        <th>Token</th>
                        <th>type</th>
                    </tr>
                </thead>
                <!-- <% data.forEach(function(data) { %> -->
                <tbody id="ex-table">
                </tbody>

                <!-- <% }); %> -->
            </table>

        </div>
    </table>




</body>
<title>Show data</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<!--===============================================================================================-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<!--===============================================================================================-->
<!--===============================================================================================-->

<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="style.css">
<script src="./web3.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<!-- <script src="./psulogin.js"></script>  -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
    crossorigin="anonymous"></script>
<script>
    function gotoSendETH() {
        window.location.href = window.location.href.replace('balance', 'send', 'index')
    }

    function gotoindex() {
        window.location.href = url.replace('balance', 'index', 'send')
    }
</script>

<script>
    var url;
    var id;
    (() => {
        url = window.location.href
        id = url.split('/').slice(-1).toString() // ???? ?????? login
    })()
    axios({
        method: 'GET',
        // url: '/getWalletById', //???????????
        url: '/showdata/' + id + '/confirm',
        //url: '/balance/' + id + '/confirm', // ??????????????
        headers: {
            id: id,
            //result : result,
        }
    }).then(result => {
        //console.log("result_showdata", result.data)
        JSON.parse(result.data).forEach(function (result) {
            //console.log("result_showdata_id", result.name.GetStaffDetailsResult.string[0])
            //console.log("result_showdata_address", result.address)
            console.log("result_showdata", result)
            const data = result.name.GetStaffDetailsResult.string[0]
            console.log("data.........................", data)
            axios({
                method: 'POST',
                url: '/balance_admin/' + id + '/confirm',
                headers: {
                    result_test: data,
                }
            })
        })
    });


    axios({
        method: 'GET',
        // url: '/getWalletById', //???????????
        url: '/showdata_admin/' + id + '/confirm',
        //url: '/balance/' + id + '/confirm', // ??????????????
        headers: {
            id: id,  // ????????????
        }
    }).then(result => { // ?????? firebase ????????????????
        JSON.parse(result.data).forEach(function (result) {
            console.log(result)
            //console.log("1111",result.address)
            var tr = document.createElement('tr')
            tr.innerHTML = `
                <td>${result.name.GetStaffDetailsResult.string[0]}</td>
                <td>${result.address}</td>
                <td>${result.balance}</td>
                <td>PSU</td>
                <td>
                    <div class="row">
                    <button type="button" class="btn btn-info ml-2"
                        onclick="window.location.href='/user/update?id=${result.address}'">edit</button>
                    <button type="button" class="btn btn-danger ml-2"
                        onclick="myClick(${result.address})">delete</button>
                        </div>
                </td>
            `
            document.querySelector('#ex-table').append(tr)
        })
    });

</script>


</html>